<% unless comment.archived? %>
  <p>
    <strong>Commenter: </strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment: </strong>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
      turbo_confirm: "Are you sure you want to delete this comment?",
      turbo_method: :delete
    } %>
  </p>
<% end %>